# Node.js dependencies
node_modules/
yarn.lock

# Build output
dist/
*.tgz

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage reports
coverage/

# Temporary files
*.tmp
*.swp
*.swo